<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item 0</key>
	<dict>
		<key>title</key>
		<string>Berlin-Europe (TXL)</string>
		<key>latitude</key>
		<real>52.5597</real>
		<key>longitude</key>
		<real>13.2878</real>
	</dict>
	<key>Item 1</key>
	<dict>
		<key>title</key>
		<string>Copenhagen-Europe (AAR)</string>
		<key>latitude</key>
		<real>50.0331</real>
		<key>longitude</key>
		<real>8.570600000000001</real>
	</dict>
	<key>Item 2</key>
	<dict>
		<key>title</key>
		<string>NewYork-USA (JFK)</string>
		<key>latitude</key>
		<real>40.6397</real>
		<key>longitude</key>
		<real>-73.77889999999999</real>
	</dict>
	<key>Item 3</key>
	<dict>
		<key>title</key>
		<string>Adelaide-Australia (ADL)</string>
		<key>latitude</key>
		<real>-34.945</real>
		<key>longitude</key>
		<real>138.5306</real>
	</dict>
	<key>Item 4</key>
	<dict>
		<key>title</key>
		<string>Tahiti-Pacific (AAA)</string>
		<key>latitude</key>
		<real>-17.3525</real>
		<key>longitude</key>
		<real>-145.51</real>
	</dict>
	<key>Item 5</key>
	<dict>
		<key>title</key>
		<string>Urumqi-Asia (AAT)</string>
		<key>latitude</key>
		<real>47.7506</real>
		<key>longitude</key>
		<real>88.08580000000001</real>
	</dict>
	<key>Item 6</key>
	<dict>
		<key>title</key>
		<string>Jayapura-Asia (AAS)</string>
		<key>latitude</key>
		<real>-3.9167</real>
		<key>longitude</key>
		<real>139.25</real>
	</dict>
	<key>Item 7</key>
	<dict>
		<key>title</key>
		<string>Paramaribo-America (ABN)</string>
		<key>latitude</key>
		<real>5.5167</real>
		<key>longitude</key>
		<real>-54.05</real>
	</dict>
	<key>Item 8</key>
	<dict>
		<key>title</key>
		<string>Addis_Ababa-Africa (ABK)</string>
		<key>latitude</key>
		<real>6.7339</real>
		<key>longitude</key>
		<real>44.2553</real>
	</dict>
	<key>Item 9</key>
	<dict>
		<key>title</key>
		<string>Abidjan-Africa (ABJ)</string>
		<key>latitude</key>
		<real>5.2614</real>
		<key>longitude</key>
		<real>-3.9264</real>
	</dict>
</dict>
</plist>
